<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>SMOKE</td><td>scenarios.home.bdd.User is logged in as manager and able to see travel request raised by his reportee.()[pri:1000, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]<br/></td></tr>
</table>
