<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6a9486">  <td>18/07/03 14:45:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.SampleTest@1f021e6c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1259769769</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/07/03 14:45:51</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.example.test.SampleTest@1f021e6c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1259769769</td>   <td></td> </tr>
<tr bgcolor="87ed94">  <td>18/07/03 14:45:51</td>   <td>438</td> <td title="&lt;&lt;TestNGTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.SampleTest@1f021e6c]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1259769769</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/07/03 14:45:51</td>   <td>2</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.SampleTest@1f021e6c]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1259769769</td>   <td></td> </tr>
<tr bgcolor="87ed94">  <td>18/07/03 14:45:41</td>   <td>-9836</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.SampleTest@1f021e6c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1259769769</td>   <td></td> </tr>
<tr bgcolor="87ed94">  <td>18/07/03 14:45:41</td>   <td>-9826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.SampleTest@1f021e6c]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1259769769</td>   <td></td> </tr>
<tr bgcolor="87ed94">  <td>18/07/03 14:45:41</td>   <td>-9870</td> <td title="&gt;&gt;TestNGTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.SampleTest@1f021e6c]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1259769769</td>   <td></td> </tr>
<tr bgcolor="87ed94">  <td>18/07/03 14:45:41</td>   <td>-9845</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.SampleTest@1f021e6c]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1259769769</td>   <td></td> </tr>
<tr bgcolor="616362">  <td>18/07/03 14:45:41</td>   <td>-9825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.testGoogleSearch()[pri:0, instance:com.qmetry.qaf.example.test.SampleTest@1f021e6c]">testGoogleSearch</td> 
  <td>main@1259769769</td>   <td></td> </tr>
</table>
